.root {
  height: 100%;
}
.app {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 32px;
}